html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.playground [role='tablist'] {
  display: none;
}
.playground [role='tree'] span {
  color: pink !important;
}
.playground div:nth-child(1) {
  width: 100%;
  flex: 1;
}
.playground div:nth-child(3) {
  width: 50% !important;
}
